{% extends "base.html" %}
{% load static %}

{% block title %}Gallery | St Peters Ngoisa Parish{% endblock %}

{% block content %}

<!-- HERO SECTION -->
<section class="s-hero"
         data-parallax="scroll"
         data-image-src="{% static 'images/cathlic.jpg' %}"
         data-natural-width="3000"
         data-natural-height="2000"
         data-position-y="center">

    <div class="row hero-content">
        <div class="column large-full hero-content__text">
            <h1>Parish Gallery</h1>
            <p>
                Moments of Faith, Worship & Community
            </p>
        </div>
    </div>
</section>

<!-- GALLERY SECTION -->
<section class="s-about">

    <div class="row">
        <div class="column large-full">
            <h2 class="display-1">Our Parish Events</h2>
        </div>
    </div>

    <div class="row">

        <div class="column large-4 medium-6">
            <img src="{% static 'images/gallery1.jpg' %}" class="img-fluid">
        </div>

        <div class="column large-4 medium-6">
            <img src="{% static 'images/gallery2.jpg' %}" class="img-fluid">
        </div>

        <div class="column large-4 medium-6">
            <img src="{% static 'images/gallery3.jpg' %}" class="img-fluid">
        </div>

    </div>

</section>

{% endblock %}